@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1693484463837') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e917";
}

.icon-bulb:before {
  content: "\e634";
}

.icon-fireworks:before {
  content: "\e6e6";
}

.icon-close-outlined:before {
  content: "\e624";
}

